.container {

    max-width: 1200px;

    .image {
        width: 100%;
        height: 400px;
        object-fit: cover;
        border-radius: 5px;
        position: relative;

        @media (max-width: 768px) {
            height: 200px;
        }

        @media (max-width: 480px) {
            height: 100px;
        }
    }


    h1 {
        color: #FFF;
        font-size: 7rem;

        @media (max-width: 768px) {
            font-size: 5rem;
        }

        @media (max-width: 480px) {
            font-size: 3rem;
        }
    }

    h2 {
        color: #FFF;
        font-size: 4rem;
        margin-top: 50px;

        @media (max-width: 768px) {
            font-size: 3rem;
        }

        @media (max-width: 480px) {
            font-size: 2rem;
        }
    }

    p {
        font-size: 1.3rem;
        line-height: 2rem;
        margin: 20px 0;
        color: #daf7f6;
    }

    a {
        color: #9ebedc;
        text-decoration: underline;
        transition: color 0.2s ease-in-out;

        &:hover {
            color: #FFF;
        }
    }

    pre {
        border: solid 1px #3e4d54;
    }

    code {
        background-color: #141518;
        padding: 2px;
        color: white;
    }

    note {
        color: #5D737E;
    }
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #25282d;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.2s ease-in-out;

}