.container {
    height: 100px;
    width: 100%;
    border-bottom: solid 1px #3e4d54;
    margin-bottom: 50px;


    div {
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            text-decoration: none;
            margin: 0 10px;
            color: #fff;
            transition: opacity 0.2s ease-in-out;

            &:hover {
                opacity: 0.5;
            }
        }
    }
}