.container {
    height: 50px;
    width: 100%;
    margin-bottom: 100px;

    div {
        margin: auto;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        a {
            all: unset;
            margin: 0 10px;
            color: #fff
        }
    }
}